@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Mono:wght@600&display=swap');


body{
    font-family: 'Montserrat', sans-serif;

}
/* 
.loginPage{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;

} */

.head{
    position: absolute;
    /* border: 2px solid red; */
    width: 30%;
    height: 30%;
    left: 20%;
    top: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;

}
.loginDetails{
    /* border: 2px solid red; */
    position: absolute;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    left: 60%;
    top: 30%;
    width: 30%;
    height: 40%;
    gap: 25px;
    border-radius: 25px;
}

#userName {
    height: 10%;
    width: 40%;
    border-radius: 20px;
    
}
#pass {
    height: 10%;
    width: 40%;
    border-radius:20px;

}
::placeholder{
    
    text-align: center;
}
.btn{
    
    cursor: pointer;
    
}

.banking{
    /* border:2px solid red; */
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70%;
    width: 40%;
    left: 60%;
    top: 15%;
    gap: 50px;
}

#transfer{
    /* border: 2px solid red; */
    position: absolute;
    top: 10%;
    height: 25%;
    width: 80%;
    border-radius: 12px;
    background: linear-gradient(to bottom , rgb(230 202 106),rgb(255 151 0));
}
.bhead{
    position: relative;
    left: 15%;
}

#loan{
    /* border: 2px solid red;  */
    position: absolute;
    /* top: 10%; */
    top: 40%;
    height: 25%;
    width: 80%;
    border-radius: 12px;
    background: linear-gradient(to bottom,rgb(95, 232, 95),green);
    
}
#close{
    /* border: 2px solid red; */
    position: absolute;
    /* top: 10%; */
    top: 70%;
    height: 25%;
    width: 80%;
    border-radius: 12px;
    background-color: rgb(220, 50, 50);
    
}
.statement{
    /* border: 2px solid red; */
    position: absolute;
    width: 40%;
    height: 80%;
    left: 15%;
    background-color: #dcdbdb;
}


.record-list{
    position: absolute;
    top: 11%;
    gap: 20px;
}


.innerList{
    list-style: none;
    /* border: 2px solid red; */
    position: relative;
    width: 120%;
    margin-top: 40%;
    font-size: 18px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    /* background-color: #f06363; */
    color: white;
    /* font-weight: bold; */
}

#amount{
    position: absolute;
    /* border: 2px solid red; */
    top: 0%;
    left: 70%;
    width: 25%;
}


.amount-transaction{
    position: absolute;
    /* border: 2px solid red; */
    left: 50%; 
    top: 7%;
    width: 30%;
    height: 90%;
}

.balanceList{
    /* border: 2px solid red; */
    list-style: none;
    width: fit-content;
    position: relative;
    margin-top: 23%;
    margin-left: 40%;
}


#time {
    width: fit-content;
    position: absolute;
    top: 5%;
    left: 7%;
    font-size: 15px;
    color: #979797;

}
.amountSpent{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 92%;
    left: 15%;
    font-size: 8px;
    gap: 12px;
}
#IN{
    color: green;

}

#OUT{
    color: red;
}

#Interest{
    color: green;
}
.logOut{
    /* border: 2px solid red; */
    width: fit-content;
    position: absolute;
    top: 90%;
    left: 80%;
    font-weight: bold;
    font-size: 19px;
}

.bgColorRed{
    background-color: #f06363;
}

.bgColorGreen{
    background-color: green;
}
#currBal{
    position: absolute;
    left: 5%;
}

